cookiecutter==1.4.0
flake8==3.7.8
furo==2021.8.11b42
myst-parser==0.15.2
pre-commit==2.14.1
pytest==6.2.4
python-semantic-release==7.19.2
Sphinx==4.1.2
tox==3.2.0
twine==3.4.2
wheel==0.37.0
watchdog==2.1.5


Click==8.0.1
